<!-- myapp/templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Tutorial App</title>
</head>
<body>
    <h1>{{ welcome_message }}</h1>
    <p>This is the default index page.</p>
    <div id="content-main" class="app-list">
        <div class="module"</div>
            <h2>Featured sections</h2>
                <table>
                    <tr class="model">
                        <td><a href="/polls/">Polls</a></td>
                    </tr>
                    <tr class="model">
                        <td><a href="/image/">Image recognition</a></td>
                    </tr>
                </table>
        </div>
    </div>
</body>
</html>
