{% extends 'base.html' %}

{% block content %}

<div class="app-container" style="border-top: 8px solid #6f42c1; background-color: #f3f0fa;">
    <h3 style="color: #6f42c1;" class="mb-4">🎧 Sound Detector</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn text-white w-100" style="background-color: #6f42c1;">Listen & Recognize</button>
    </form>

    {% if top_class %}
    <div class="mt-4 alert" style="background-color: #6f42c1; color: white;">
        <strong>Sound Identified:</strong> {{ top_class }}
    </div>
    {% endif %}
</div>

{% endblock %}